<form #form="ngForm">
    <div class="form-group row ">
    <div class="col-sm-3 ">
      <label for="id" class="form-label">Id</label>
      <input type="number" class="form-control form-control-sm" id="id" name="id" [(ngModel)]="apartmentdetails.id">
    </div>
    <div class="col-sm-3 ">
      <label for="number" class="form-label">Number</label>
      <input type="number" class="form-control form-control-sm" id="number" name="number" [(ngModel)]="apartmentdetails.number">
    </div>
    <div class="col-sm-3 ">
      <label for="floor" class="form-label">Floor</label>
      <input type="number" class="form-control form-control-sm" id="floor" name="floor" [(ngModel)]="apartmentdetails.floor">
    </div>
    <div class="col-sm-3 ">
      <label for="numberOfRooms" class="form-label">Number of Rooms</label>
      <input type="number" class="form-control form-control-sm" id="numberOfRooms" name="numberOfRooms" [(ngModel)]="apartmentdetails.numberOfRooms">
    </div>
    <div class="col-sm-3 ">
      <label for="population" class="form-label">Population</label>
      <input type="number" class="form-control form-control-sm" id="population" name="population" [(ngModel)]="apartmentdetails.population">
    </div>
    <div class="col-sm-3 ">
      <label for="fullArea" class="form-label">Full Area</label>
      <input type="number" class="form-control form-control-sm" id="fullArea" name="fullArea" [(ngModel)]="apartmentdetails.fullArea">
    </div>
    <div class="col-sm-3 ">
      <label for="livingSpace" class="form-label">Living Space</label>
      <input type="number" class="form-control form-control-sm" id="livingSpace" name="livingSpace" [(ngModel)]="apartmentdetails.livingSpace">
    </div>
    <div class="col-sm-3 ">
      <label for="houseId" class="form-label">houseId</label>
      <input type="number" class="form-control form-control-sm" id="houseId" name="houseId" [(ngModel)]="apartmentdetails.houseId">
    </div>
    <div class="row-sm-3">
            <button class="btn btn-info" (click)="checkAndUpdateApartment(apartmentdetails)">Save</button>
            <button class="btn btn-warning" (click)="closeModalAndRefresh()">Cancel</button>
            <button class="btn btn-danger"  (click)="Delete(apartmentdetails.id)">Delete</button>

    </div>
  </div>
  </form>