
<div class="container">
    <h2>Resident Details</h2>
    <div>
      <form #form="ngForm">
        <div class="mb-3">
            <label for="name" class="form-label">Id:</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="residentdetails.id" required>
          </div>
        <div class="mb-3">
          <label for="name" class="form-label">Name:</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="residentdetails.name" required>
        </div>
        <div class="mb-3">
          <label for="surname" class="form-label">Surname:</label>
          <input type="text" class="form-control" id="surname" name="surname" [(ngModel)]="residentdetails.surname" required>
        </div>
        <div class="mb-3">
          <label for="personalCode" class="form-label">Personal Code:</label>
          <input type="text" class="form-control" id="personalCode" name="personalCode" [(ngModel)]="residentdetails.personalCode" required>
        </div>
        <div class="mb-3">
          <label for="dateOfBirth" class="form-label">Date of Birth:</label>
          <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" [(ngModel)]="residentdetails.dateOfBirth" required>
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Phone:</label>
          <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="residentdetails.phone" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="residentdetails.email" required>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="isOwner" name="isOwner" [(ngModel)]="residentdetails.isOwner">
          <label class="form-check-label" for="isOwner">Is Owner</label>
        </div>
        <div class="mb-3 form-check">
            <label for="apartmentId" class="form-label">apartmentId</label>
        <input type="number" class="form-control form-control-sm" id="apartmentId" name="apartmentId" [(ngModel)]="residentdetails.apartmentId">
          </div>
        <button type="submit" class="btn btn-info" (click)="checkAndUpdateHouse(residentdetails)">Save</button>
        <button class="btn btn-danger"  [disabled]="!(isManager)" (click)="Delete(residentdetails.id)">Delete</button>
        <button class="btn btn-danger"(click)="closeModalAndRefresh()">Cancel</button>
      </form>
    </div>
  </div>
  