<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2>House number: {{ housedetails.number }}</h2>
    </div>
    <div class="col-sm-6">
      <select class="form-select" size="1" [(ngModel)]="selectedHouse" (change)="onSelected(selectedHouse)">
        <option *ngFor="let house of housesselector" [value]="house.id">{{ house.number }}</option>
      </select>
    </div>
  </div>




  <div class="container">
    <h2>All Apartments
      <button class="btn btn-warning" [disabled]="!isManager" (click)="(openCreateModal())">Add Apartment</button>
    </h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Number</th>
          <th>Floor</th>
          <th>Number of Rooms</th>
          <th>Population</th>
          <th>Full Area</th>
          <th>Living Space</th>
          <th>View</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let apartment of apartments">
          <td>{{ apartment.id }}</td>
          <td>{{ apartment.number }}</td>
          <td>{{ apartment.floor }}</td>
          <td>{{ apartment.numberOfRooms }}</td>
          <td>{{ apartment.population }}</td>
          <td>{{ apartment.fullArea }}</td>
          <td>{{ apartment.livingSpace }}</td>
          <td><a class="btn btn-info" [routerLink]="['/apartments', apartment.id, 'residents']">View</a></td>
          <td><button class="btn btn-success" [disabled]="!isManager"
              (click)="openEditApartmentModal(apartment.id)">Edit</button></td>
        </tr>
      </tbody>
    </table>
  </div>


  <ng-template #editModal>
    <div class="container">
      <h2>Apartmemt Details</h2>
      <form [formGroup]="apartmentEditForm">
        <div class="form-group row">
          <div class="col-sm-3">
            <label for="id" class="form-label">Id</label>
            <input type="number" class="form-control form-control-sm" id="id" formControlName="id">
          </div>
          <div class="col-sm-3">
            <label for="number" class="form-label">Number</label>
            <input type="number" class="form-control form-control-sm" id="number" formControlName="number" required>
            <div *ngIf="apartmentEditForm.get('number')?.hasError('required') && apartmentEditForm.get('number')?.touched"
              class="text-danger small">Number is required</div>
          </div>
          <div class="col-sm-3">
            <label for="floor" class="form-label">Floor</label>
            <input type="number" class="form-control form-control-sm" id="floor" formControlName="floor" required="">
            <div *ngIf="apartmentEditForm.get('floor')?.hasError('required') && apartmentEditForm.get('floor')?.touched"
              class="text-danger small">Floor is required</div>
          </div>
        </div>
        <div class="col-sm-3">
          <label for="numberOfRooms" class="form-label">Number of Rooms</label>
          <input type="number" class="form-control form-control-sm" id="numberOfRooms" formControlName="numberOfRooms">
          <div
            *ngIf="apartmentEditForm.get('numberOfRooms')?.hasError('required') && apartmentEditForm.get('numberOfRooms')?.touched"
            class="text-danger small">Number Of Rooms is required</div>
        </div>
        <div class="col-sm-3">
          <label for="population" class="form-label">Population</label>
          <input type="number" class="form-control form-control-sm" id="population" formControlName="population">
          <div *ngIf="apartmentEditForm.get('population')?.hasError('required') && apartmentEditForm.get('population')?.touched"
            class="text-danger small">Population is required</div>
        </div>
        <div class="col-sm-3">
          <label for="fullArea" class="form-label">Full Area</label>
          <input type="number" class="form-control form-control-sm" id="fullArea" formControlName="fullArea">
          <div *ngIf="apartmentEditForm.get('fullArea')?.hasError('required') && apartmentEditForm.get('fullArea')?.touched"
            class="text-danger small">FullArea is required</div>

        </div>
        <div class="col-sm-3">
          <label for="livingSpace" class="form-label">Living Space</label>
          <input type="number" class="form-control form-control-sm" id="livingSpace" formControlName="livingSpace">
          <div
            *ngIf="apartmentEditForm.get('livingSpace')?.hasError('required') && apartmentEditForm.get('livingSpace')?.touched"
            class="text-danger small">living Space is required</div>
        </div>
        <div class="col-sm-3">
          <label for="houseId" class="form-label">House Id</label>
          <select class="form-select" id="houseId" formControlName="houseId">
            <option [value]="house.id" *ngFor="let house of housesselector">{{ house.id }}</option>
          </select>
          <div *ngIf="apartmentEditForm.get('houseId')?.hasError('required') && apartmentEditForm.get('houseId')"
            class="text-danger small">House Id is required</div>
        </div>
        <div class="row-sm-3">
          <button type="submit" [disabled]="!(isManager)" class="btn btn-info" (click)="onFormSubmitEdit()">Save</button>
          <button class="btn btn-danger" [disabled]="!(isManager)" (click)="Delete()">Delete</button>
          <button class="btn btn-warning" (click)="closeModalAndRefresh()">Cancel</button>
        </div>
      </form>
    </div>
  </ng-template>


  <ng-template #CreateModal>
    <div class="container">
      <h2>Apartmemt Details</h2>
      <form [formGroup]="apartmentCreateForm">
        <div class="form-group row">
          <div class="col-sm-3">
            <label for="id" class="form-label">Id</label>
            <input type="number" class="form-control form-control-sm" id="id" formControlName="id" placeholder="1">
          </div>
          <div class="col-sm-3">
            <label for="number" class="form-label">Number</label>
            <input type="number" class="form-control form-control-sm" id="number" formControlName="number" required placeholder="12">
            <div *ngIf="apartmentCreateForm.get('number')?.hasError('required') && apartmentCreateForm.get('number')?.touched"
              class="text-danger small">Number is required</div>
          </div>
          <div class="col-sm-3">
            <label for="floor" class="form-label">Floor</label>
            <input type="number" class="form-control form-control-sm" id="floor" formControlName="floor" required="" placeholder="3">
            <div *ngIf="apartmentCreateForm.get('floor')?.hasError('required') && apartmentCreateForm.get('floor')?.touched"
              class="text-danger small">Floor is required</div>
          </div>
        </div>
        <div class="col-sm-3">
          <label for="numberOfRooms" class="form-label">Number of Rooms</label>
          <input type="number" class="form-control form-control-sm" id="numberOfRooms" formControlName="numberOfRooms" placeholder="2">
          <div
            *ngIf="apartmentCreateForm.get('numberOfRooms')?.hasError('required') && apartmentCreateForm.get('numberOfRooms')?.touched"
            class="text-danger small">Number Of Rooms is required</div>
        </div>
        <div class="col-sm-3">
          <label for="population" class="form-label">Population</label>
          <input type="number" class="form-control form-control-sm" id="population" formControlName="population" placeholder="1">
          <div *ngIf="apartmentCreateForm.get('population')?.hasError('required') && apartmentCreateForm.get('population')?.touched"
            class="text-danger small">Population is required</div>
        </div>
        <div class="col-sm-3">
          <label for="fullArea" class="form-label">Full Area</label>
          <input type="number" class="form-control form-control-sm" id="fullArea" formControlName="fullArea" placeholder="35">
          <div *ngIf="apartmentCreateForm.get('fullArea')?.hasError('required') && apartmentCreateForm.get('fullArea')?.touched"
            class="text-danger small">FullArea is required</div>

        </div>
        <div class="col-sm-3">
          <label for="livingSpace" class="form-label">Living Space</label>
          <input type="number" class="form-control form-control-sm" id="livingSpace" formControlName="livingSpace" placeholder="30">
          <div
            *ngIf="apartmentCreateForm.get('livingSpace')?.hasError('required') && apartmentCreateForm.get('livingSpace')?.touched"
            class="text-danger small">living Space is required</div>
        </div>
        <div class="col-sm-3">
          <label for="houseId" class="form-label">House Id</label>
          <select class="form-select" id="houseId" formControlName="houseId">
            <option [value]="house.id" *ngFor="let house of housesselector">{{ house.id }}</option>
          </select>
          <div *ngIf="apartmentCreateForm.get('houseId')?.hasError('required') && apartmentCreateForm.get('houseId')"
            class="text-danger small">House Id is required</div>
        </div>
        <div class="row-sm-3">
          <button type="submit" [disabled]="!(isManager)" class="btn btn-info" (click)="onFormSubmitCreate()">Create</button>
          <button class="btn btn-warning" (click)="closeModalAndRefresh()">Cancel</button>
        </div>
      </form>
    </div>
  </ng-template>