<div class="container">
  <h2>All Houses</h2>
  <div class="form-group">
    <label for="citySearch">Search by Street:</label>
    <input type="text" [(ngModel)]="filterValue" (input)="onFilterInputChange()">
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Number</th>
        <th>Street</th>
        <th>City</th>
        <th>Country</th>
        <th>Postcode</th>
        <th>Edit</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let house of filteredHouses">
        <td>{{ house.number }}</td>
        <td>{{ house.street }}</td>
        <td>{{ house.city }}</td>
        <td>{{ house.country }}</td>
        <td>{{ house.postcode }}</td>
        <td><a class="btn btn-info" [routerLink]="['/house', house.id]">View</a></td>
        <td><button class="btn btn-success" [disabled]="!isManager"
            (click)="(openEditModal(house.id))">Edit</button></td>
      </tr>
    </tbody>
  </table>
  <div class="row-sm-3">
    <button class="btn btn-warning col-sm-12" [disabled]="!isManager" (click)="(openEditModal(0))">Add House</button>
  </div>
</div>
<ng-template #editModal>
  <div class="container">
    <h2>House</h2>
    <div class="">
      <form #form="ngForm" >
        <div class="form-group row ">
        <div class="col-sm-3 ">
          <label for="id" class="form-label">Id</label>
          <input type="number" class="form-control form-control-sm" id="id" name="id" [(ngModel)]="housedetails.id" required>
        </div>
        <div class="col-sm-3 ">
          <label for="number" class="form-label">Number</label>
          <input type="number" class="form-control form-control-sm" id="number" name="number" [(ngModel)]="housedetails.number" required>
        </div>
        
        <div class="col-sm-3 ">
          <label for="city" class="form-label">City</label>
          <input type="text" class="form-control form-control-sm" id="city" name="city" [(ngModel)]="housedetails.city">
        </div>
        <div class="col-sm-3 ">
          <label for="country" class="form-label">Country</label>
          <input type="text" class="form-control form-control-sm" id="country" name="country" [(ngModel)]="housedetails.country">
        </div>
        <div class="col-sm-3 ">
          <label for="postcode" class="form-label">Postcode</label>
          <input type="text" class="form-control form-control-sm" id="postcode" name="postcode" [(ngModel)]="housedetails.postcode">
        </div>
        <div class="col-sm-6 ">
          <label for="street" class="form-label">Street</label>
          <input type="text" class="form-control form-control-sm" id="street" name="street" [(ngModel)]="housedetails.street">
        </div>
        <div class="row-sm-3">
          <button class="btn btn-info" (click)="checkAndUpdateHouse(housedetails)">Save</button>
          <button class="btn btn-danger" (click)="Delete(housedetails.id)">Delete</button>
          <button class="btn btn-warning"(click)="closeModalAndRefresh()">Cancel</button>
        </div>
      </div>
      </form>
    </div>
  </div>
</ng-template>